body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.survey-container {
  width: 80%;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  max-width: 600px;
  margin: 20px auto;
}

.question {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}


.stars input {
  display: none;
}




.stars label:hover,
.stars label:hover ~ label,
.stars input:checked ~ label {
  color: #f39c12;
}

.submit {
  text-align: center;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #f39c12;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #e67e22;
}
